.header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper {

  }
  .conatiner {
    width: 80%;
    max-width: 1200px;
    margin
  }
