.header {
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: #014970;
    max-height: 350px;
    padding: 15px;
  }

 
  body {
    font-family: 'Roboto', sans-serif;
    background: #FAE7CD;
    color: black;
    padding: 50px 0;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 401px){
    .container {
      width: 80%;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  @media (max-width: 400px){
    .container {
      width: 80%;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }
  }
  .container * {
    box-sizing: border-box;
  }
  @media (min-width: 401px){
    .var {
      margin-right: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex: 0 1 auto;
    }
  }

  @media (max-width: 400px){
    .var {
      margin-right: 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex: 1 0 auto;
    }
  }

   ol {
     flex-wrap: wrap;
     display: flex;
     background: #FFF7EB;
   }
  
  .image{
    max-width: 200px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
  }
     max-width: 960px;
   }
